* {
    font-family: 'Josefin Slab', serif;
}

footer {
    color: #808080;
}

#phaserContainer {
    padding-top: 15px;
    padding-bottom: 15px;
}

    #phaserContainer canvas {
        margin: auto;
        border: 2px solid #333;
        box-shadow: 0 0 5px 5px #ccc;
    }

h2.sub {
    color: #808080;
    margin-top:0;
}
